// COLORS
$light-gray-color: #7d7d7d;
$gray-color: #1f2121;
$blue-color: rgba(0, 6, 255, 0.83);
$purple-color: #0073b1;

// SIZES
$sidebar-desktop-width: 250px;
$header-desktop-height: 90px;
$header-mobile-height: 75px;
$content-padding-mobile: 50px;
$content-padding-desktop: 75px;
$content-padding-large-desktop: 100px;
$content-margin-mobile: 50px;
$content-margin-desktop: 75px;
$content-margin-large-desktop: 100px;