header {
    width: 100%;
}

.navbar-menu {
    height: 85px;
    width: 100%;

    h1 {
        display: inline-flex;
        font-size: 18px;
        margin-bottom: 0;
    }
    .right-menu {
        display: none;
        float: right;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            display: inline-flex;
        }
        li a {
            color: black;
            margin: 0 15px;
        }
        li a:hover {
            text-decoration: none;
            filter: drop-shadow(0.5px 0.5px 1px black);
        }
    }
}

#sidebar {
    padding-top: 25px;
    margin-right: -200px;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    background: #1f2121;
    opacity: 1;
    transition: all 0.6s;
}

#sidebar.active {
    margin-right: 0px;

}

#sidebarCollapse {
    z-index: 1000;
    position: absolute;
    top: 15px;
    right: 50px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #1f2121;
    transition: all 0.6s;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

#sidebarCollapse:focus {
    outline: 0px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    display: block;
    background-color: white;
    margin: 5px auto;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse.active {
    right: 225px;
}

#sidebarCollapse.active span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
    margin: 0 auto;
}
#sidebarCollapse.active span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
    margin: 0 auto;
}
#sidebarCollapse.active span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
    margin: 0 auto;
}

#sidebar div, #sidebar li {
    align-items: center;
    justify-content: center;
    display: flex;
}

#sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar li a {
    color: white;
}

#sidebar li a:hover {
    text-decoration: none;
    letter-spacing: 1px;
    filter: drop-shadow(0.5px 0.5px 1px white);
}