.portfolio {

  &__link {
    color: $blue-color;

    &:hover {
      text-decoration: none;
      color: $blue-color;
      letter-spacing: 1px;
    }
  }
  &__project-link {

    &:hover {
      .portfolio__image {
        box-shadow: 0px 0px 25px #000000a1;
      }
    }
  }
  &__image {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    @include media-breakpoint-up(lg) {
      width: 80%;
    }
  }
}