.portfolio {

  &__link {
    color: $blue-color;

    &:hover {
      text-decoration: none;
      color: $blue-color;
      letter-spacing: 1px;
    }
  }
  &__project-link {
    &:hover {
      .portfolio__image {
        box-shadow: 0px 0px 25px #000000a1;
      }
    }
  }
  &__filters {
    display: inline-flex;
  }
  &__filter {
    font-size: 13px;
    padding: 5px 7px;
    border: 1px solid;

    &:not(:first-of-type) {
      margin-left: 10px;
    }
    &:hover, &.selected {
      cursor: pointer;
      border-color: #d2ac0f;
      color: #d2ac0f;
    }
  }
  &__overview-project {
    padding-bottom: 48px;
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
    &.hidden {
      display: none;
    }
  }
  &__project-back-wrapper {
    @include make-container();
    @include make-container-max-widths();
    text-align: left;
    margin-bottom: 25px;
  }
  &__project-back {
    @include make-col-ready();
    @include make-col(12);
    color: $gray-color;
    font-weight: lighter;
    font-size: 13px;

    &:hover {
      color: $light-gray-color;
      text-decoration: none;
    }
    i {
      font-size: 11px;
      margin-right: 5px;
    }
  }
  &__image {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    @include media-breakpoint-up(lg) {
      width: 80%;
    }
  }
}