/*** NAVIGATION ***/

nav {
    font-family: 'News Cycle', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
}

#content {
    width: 100%;
}

/*** CONTENT ***/

.section {
    padding-top: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid #222222;
    margin-bottom: 5px;
    text-align: center;
}