{% block footer %}

    <footer class="text-center">
        <div>
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="https://github.com/orioltomas" target="_blank" title="GitHub">
                        <i class="social-icon fab fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://es.linkedin.com/in/oriol-tomàs-fortuny-938506124" target="_blank" title="LinkedIn">
                        <i class="social-icon fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">© Copyright 2019 Oriol Tomàs Fortuny.<br>All rights reserved.</div>
    </footer>

{% endblock %}