{% block footer %}

    <footer class="text-center">
        <div>
            <ul class="list-unstyled mb-0 d-inline-flex">
                <li>
                    <a class="social-icon github" href="https://github.com/orioltomas" target="_blank" title="GitHub">
                        <i class="fab fa-github-alt" aria-hidden="true"></i><span></span>
                    </a>
                </li>
                <li>
                    <a class="social-icon linkedin" href="https://es.linkedin.com/in/oriol-tomàs-fortuny-938506124" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin-in"></i><span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">© Copyright 2019 Oriol Tomàs Fortuny.<br>All rights reserved.</div>
    </footer>

{% endblock %}