{% extends 'layout.html.twig' %}

{% block content %}

    <div class="home__img">

        <div class="home__center-img">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 home__center-img__headline">
                        <div class="d-none d-md-block">WEB DEVELOPER</div>
                        <div class="d-block d-md-none">WEB<br>DEVELOPER</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="home__center-img__button">PORTFOLIO</button>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="home__center-img__button">EXPERIENCE</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#about-me">
            <div class="home__bottom-img text-center">
                <div class="home__bottom-img__img"></div>
                <img class="home__bottom-img__icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/chevron-down.png">
            </div>
        </a>

    </div>

    <div id="about-me">
        sfvfsvf
    </div>

{% endblock %}