{% extends 'layout.html.twig' %}

{% block content %}

    <div class="home__img">

        <div class="home__center-img">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 home__center-img__headline">
                        <div class="d-none d-md-block">WEB DEVELOPER</div>
                        <div class="d-block d-md-none">WEB<br>DEVELOPER</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="home__center-img__button" onclick="location.href='{{ path('portfolio') }}'">PORTFOLIO</button>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="home__center-img__button" onclick="location.href='{{ path('experience') }}'">EXPERIENCE</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#about-me">
            <div class="home__bottom-img text-center">
                <div class="home__bottom-img__img"></div>
                <img class="home__bottom-img__icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/chevron-down.png">
            </div>
        </a>

    </div>

    <div id="about-me" class="home__about-me">
        <div class="text-center container">
            <h1>ABOUT ME</h1>
            <div class="pt-3">
                <p class="pt-3">
                    I am a <b>Computer Science Engineer</b> graduated by Pompeu Fabra University in Barcelona in 2017.
                    I have been focused in web development since my last university year and sometime in the near future
                    I also want to start with app development.
                </p>
                <p class="pt-3">
                    On the professional side, I am always hungry for new knowledge and skills and somehow that is the reason I have created my own web.
                    My objective is to keep learning new things, basically in web and app development on both ends (front and back),
                    and to update this website with everything that I learn: coding languages, new technologies, good practices,
                    useful frameworks and components, app development, clean and solid code and many more things. For now, I will focus on:<br>
                    <b>Symfony framework using PHP, HTML, CSS, jQuery and JS</b><br>
                    <b>iOS app development</b>
                </p>
                <p class="pt-3">
                    On the personal side, I consider myself a techie person who likes cutting-edge technologies and innovations.
                    My other top hobbies are cinema, music, books and basketball. These hobbies made me who I am today.<br>
                    I consider myself a team player, I really value helping those around you, hard work and commitment.
                    I'm a positive person and I think being open-minded and empathic and having moral values is very important.
                </p>
                <p class="pt-3">
                    Welcome to my site and ...<br>
                    <b>Thank you for your time!</b>
                </p>
            </div>
        </div>
    </div>

{% endblock %}