{% extends 'base.html.twig' %}
{% use 'header.html.twig' with header as layout_header %}

{% block body %}

    {% block header %}
        {{ block('layout_header') }}
    {% endblock %}

    <div class="wrapper">

        <div id="content">

            <div id="columns-container" class="col-12">
                <div class="section col-12">
                    <h5>{% block section %}{% endblock %}</h5>
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('layout') }}
{% endblock %}