{% extends 'base.html.twig' %}
{% use 'header.html.twig' with header as layout_header %}
{% use 'footer.html.twig' with footer as layout_footer %}

{% block body %}

    {% block header %}
        {{ block('layout_header') }}
    {% endblock %}

    {% if app.request.attributes.get('_route') != 'home' %}
        {% include 'header_background.html.twig' %}
    {% endif %}

    <div class="wrapper">
        <div id="content" {% if app.request.attributes.get('_route') != 'home' %}class="no-home"{% endif %}>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block footer %}
        {{ block('layout_footer') }}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('layout') }}
{% endblock %}