{% extends 'layout.html.twig' %}

{% block content %}

    <div class="portfolio text-center">
        <h1 class="pb-3 pb-lg-5">PORTFOLIO</h1>
        <div class="col-12">
            <div class="row pt-5 pt-lg-5 pb-lg-5">
                <div class="col-12 offset-lg-1 col-lg-5">
                    <div class="pb-5">
                        <b>WEB</b>
                    </div>
                    <div class="pb-3">
                        USEFUL LINKS
                    </div>
                    <div class="pb-3">
                        <a class="portfolio__link" href="#">Symfony Documentation</a>
                    </div>
                    <div>
                        <a class="portfolio__link" href="#">Bootstrap Documentation</a>
                    </div>
                </div>
                <div class="col-12 col-lg-5 pb-5">
                    <div class="pt-5 pb-5">
                        <b>iOS</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}